.calendarWrapper {
  width: 90%;
}

.calendarWrapper :global(.ant-picker-calendar) {
  background: white;
}

:global(.ant-picker-cell-selected .ant-picker-cell-inner) {
  background: #03045e !important;
}

:global(.ant-picker-cell-today .ant-picker-cell-inner::before) {
  border-color: #03045e !important;
}

:global(.ant-picker-cell:hover .ant-picker-cell-inner) {
  background: #caf0f8 !important;
  color:#03045e !important
}

