* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.ant-picker-css-var {
  --ant-date-picker-time-column-width: 80px !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #f7f8fc;
  color: #1f1f1f;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}